/** COLORS **/
@color_main:      #9A59B5;
@color_1:       #1BBC9B;
@color_2:       #2DCC70;
@color_3:      #3598DB;
@color_4:      #34495E;
@color_5:      #16A086;
@color_6:       #F1C40F;

.color_0 {background-color: @color_main;}
.color_1 {background-color: @color_1;}
.color_2 {background-color: @color_2;}
.color_3 {background-color: @color_3;}
.color_4 {background-color: @color_4;}
.color_5 {background-color: @color_5;}
.color_6 {background-color: @color_6;}

html {
    background-color: #000;
    color: #fff;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}

ul#yo_list {
    list-style: none;

    li {
        text-align: center;
        padding: 35px 0;
        font-weight: bold;
    }
}